/* =========================PC============================== */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

/* =========================Tablet & Mobile============================== */
@media screen and (max-width: 991.98px) {
  html,
  body {
    overflow-x: clip !important;
  }

  .navbar {
    position: relative;
  }

  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar ul {
    display: none;
  }

  .toggle-menu svg {
    width: 24px;
    color: #0f1b4c;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
    transition: transform 0.25s;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    display: block;
    padding: 14px 0px;
    color: #4f5361;
    font-weight: 500;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .separate {
    border-top: 1px solid #ebebeb;
  }

  .hero-img {
    display: none;
  }

  .hero-wrap .info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-wrap .desc {
    width: 80%;
    margin: 30px auto auto;
  }

  .client {
    padding: 43px 0px 41px;
  }

  .client .image {
    margin: 70px auto auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .guides-item {
    margin: 0;
    flex: 1;
  }

  .feature .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats .ro {
    flex-direction: column;
  }

  .stats .img-block {
    margin-top: 80px;
    order: 2;
  }

  .stats .img-block,
  .stats .info {
    width: 100%;
  }

  .stats .info {
    order: 1;
    padding: 0px;
  }

  .stats .info .sub-title {
    width: 70%;
  }

  .stats .info .desc {
    width: 100%;
  }

  .stats .row-qty {
    margin-left: 0;
    flex-direction: row;
  }

  .stats .qty-item .qty {
    font-size: 5rem;
  }

  .stats .qty-item .qty-desc {
    font-size: 1.5rem;
  }

  .subscription .subscription-body .image {
    display: none;
  }

  .footer .row-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }

  .client .image a:hover,
  .footer .row-top .social-link:hover {
    box-shadow: none;
  }
}

/* =========================Tablet============================== */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .hide-on-tablet {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

/* =========================Mobile============================== */
@media screen and (max-width: 767.98px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .navbar .action {
    display: none;
  }

  .hero-wrap {
    height: calc(100vh - 80px);
  }

  .hero-wrap .title {
    margin-top: 20px;
    font-size: 5.7rem;
  }

  .hero-wrap .desc,
  .guides .desc {
    width: 100%;
  }

  .row .desc:last-child {
    display: none;
  }

  .client .image {
    row-gap: 20px;
  }

  .list-guides {
    flex-direction: column;
    row-gap: 60px;
  }

  .guides .guides-btn {
    margin-top: 60px;
  }

  .feature .link {
    display: none;
  }

  .feature .list {
    grid-template-columns: 1fr;
  }

  .view-all {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  .stats .info .sub-title {
    width: 100%;
  }

  .stats .img-block .house {
    width: 100%;
  }

  .stats .stats-trend {
    top: 20px;
    left: 20px;
    border-radius: 12px;
  }

  .stats .row-qty {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  .subscription .subscription-body .info {
    padding: 32px;
  }

  .subscription .subscription-body {
    height: auto;
  }

  .footer .row-top {
    grid-template-columns: 1fr;
  }

  .footer .row-bottom {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }
}
